@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-heading);
  --font-orbitron: 'Orbitron', sans-serif;

  --shadow-input:
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),
  0px 1px 0px 0px rgba(25, 28, 33, 0.02),
  0px 0px 0px 1px rgba(25, 28, 33, 0.08);


  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

.font-display {
  font-family: var(--font-display);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}
